.palette-bg-primary {
    background-color: #e0e2db !important;
    outline-color: #e0e2db !important;
    box-shadow: #7f9183 !important;
}

.palette-bg-secondary {
    color: white !important;
    background-color: #6E8250 !important;
    outline-color: #6E8250 !important;
    box-shadow: #6E8250 !important;
}

.palette-bg-col {
    background-color: #e0e2db !important;
}

.palette-text-green {
    color: #586f6b !important;
}

.palette-nav {
    background-color: #E6E9DD !important;
    width: 100% !important;
}

.palette-brand {
    color: #D15342 !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-24 {
    font-size: 32px !important;
}

.font-normal {
    font-weight: normal;
}

.align-text-center {
    text-align: center;
}
